<div class="container my-5">

  <h1>{{stockData.Name}} stock info</h1>

  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>

  <div class="container my-5 financialInfo">

    <div>
      <h2>Información general</h2>

      <p>Symbol: {{stockData.Symbol}}</p>
      <p>Name: {{stockData.Name}}</p>
      <p>Description: {{stockData.Description}}</p>

    




    </div>


    <div>
      <h2>Ratios financieros</h2>
      <p>PE ratio: {{stockData.PERatio}} -> Dale Click aquí para leer sobre el <a href="/education/educationPage">PE ratio</a></p>
      <p>PEG ratio: {{stockData.PEGRatio}} </p>
      <p>Book value: {{stockData.BookValue}} </p>
      <p>Dividend per share: {{stockData.DividendPerShare}} </p>
      <p>EPS: {{stockData.EPS}} </p>
      <p>RevenuePerShareTTM: {{stockData.RevenuePerShareTTM}} </p>
      <p>AnalystTargetPrice: {{stockData.AnalystTargetPrice}} </p>
      <p>TrailingPE: {{stockData.TrailingPE}} </p>
      <p>ForwardPE: {{stockData.ForwardPE}} </p>
      <p>PriceToSalesRatioTTM: {{stockData.PriceToSalesRatioTTM}} </p>
      <p>PriceToBookRatio: {{stockData.PriceToBookRatio}} </p>
      <p>EVToRevenue: {{stockData.EVToRevenue}} </p>
      <p>EVToEBITDA: {{stockData.EVToEBITDA}} </p>
      <p>Beta: {{stockData.Beta}} </p>
      <p>52WeekHigh: {{stockData.52WeekHigh}} </p>
      <p>52WeekLow: {{stockData.52WeekLow}} </p>
      <p>50DayMovingAverage: {{stockData.50DayMovingAverage}} </p>
      <p>200DayMovingAverage: {{stockData.200DayMovingAverage}} </p>
    </div>
  </div>

<div>

    Estado de situación Financiera
Estado de ganancias y pérdidas
Estado de flujos de efectivo

</div>

 





</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="/js/stockGraph.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
></script>
<script src="/js/script.js"></script>

{{!--     

ENDPOINTS: 

{{stockData.MarketCapitalization}}","{{stockData.EBITDA}}",
"{{stockData.PERatio}}","{{stockData.PEGRatio}}","{{stockData.BookValue}}",
"{{stockData.DividendPerShare}}","{{stockData.DividendYield}}","{{stockData.EPS}}",
"{{stockData.RevenuePerShareTTM}}","{{stockData.ProfitMargin}}","{{stockData.OperatingMarginTTM}}",
"{{stockData.ReturnOnAssetsTTM}}","{{stockData.ReturnOnEquityTTM}}","{{stockData.RevenueTTM}}",
"{{stockData.GrossProfitTTM}}","{{stockData.DilutedEPSTTM}}","{{stockData.QuarterlyEarningsGrowthYOY}}",
"{{stockData.QuarterlyRevenueGrowthYOY}}","{{stockData.AnalystTargetPrice}}","{{stockData.TrailingPE}}",
"{{stockData.ForwardPE}}","{{stockData.PriceToSalesRatioTTM}}","{{stockData.PriceToBookRatio}}",
"{{stockData.EVToRevenue}}","{{stockData.EVToEBITDA}}","{{stockData.Beta}}","{{stockData.52WeekHigh}}",
"{{stockData.52WeekLow}}","{{stockData.50DayMovingAverage}}","{{stockData.200DayMovingAverage}}",
"{{stockData.SharesOutstanding}}
 --}}

{{!-- p endpoints:

"<p>PERatio: {{stockData.PERatio}} </p>",
"<p>PEGRatio: {{stockData.PEGRatio}} </p>",
"<p>BookValue: {{stockData.BookValue}} </p>",
"<p>DividendPerShare: {{stockData.DividendPerShare}} </p>",
"<p>EPS: {{stockData.EPS}} </p>",
"<p>RevenuePerShareTTM: {{stockData.RevenuePerShareTTM}} </p>",
"<p>AnalystTargetPrice: {{stockData.AnalystTargetPrice}} </p>",
"<p>TrailingPE: {{stockData.TrailingPE}} </p>",
"<p>ForwardPE: {{stockData.ForwardPE}} </p>",
"<p>PriceToSalesRatioTTM: {{stockData.PriceToSalesRatioTTM}} </p>",
"<p>PriceToBookRatio: {{stockData.PriceToBookRatio}} </p>",
"<p>EVToRevenue: {{stockData.EVToRevenue}} </p>",
"<p>EVToEBITDA: {{stockData.EVToEBITDA}} </p>",
"<p>Beta: {{stockData.Beta}} </p>",
"<p>52WeekHigh: {{stockData.52WeekHigh}} </p>",
"<p>52WeekLow: {{stockData.52WeekLow}} </p>",
"<p>50DayMovingAverage: {{stockData.50DayMovingAverage}} </p>",
"<p>200DayMovingAverage: {{stockData.200DayMovingAverage}} </p>",
 --}}