<div class="container profile my-5">

  <div class="row">
     <h1>Hola {{user.firstName}} {{user.lastName}}</h1>
    <div class="col">
     

      <img
        src="{{user.profile_pic}}"
        class="imgcoverprofile"
        alt="userprofile"
      />
    </div>

    <div class="my-3 col d-flex flex-column ">
      <form method="post" action="/auth/profile/{{user._id}}/stocks">
        <div>
          <h3>Ingresa la información de tu portafolio</h3>

          <div class="my-3 py-3 d-flex flex-column align-items-center" >
            
            <input type="text" name="stock" class="input-group-text" />
            <label class="pb-3">Ticker</label>
            
            <input type="number" name="quantity" class="input-group-text" />
            <label class="pb-3">Cantidad de acciones</label>
            
            <input type="number" name="price" class="input-group-text" />
            <label class="pb-3">Precio de compra</label>
<div class="py-3" >
            <button class="btn btn-primary">Registrar acciones</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">

    <div class="my-3 col py-3">
      <h3>Las Acciones en tu portafolio</h3>

      <div class="col">
        {{#each user._stocks}}
          <div class="row">
            <h4>{{this.stock}}</h4>
            <ul>

              <li>Cantidad: {{this.quantity}}</li>
              <li>Precio de compra: {{this.price}}</li>
            </ul>
          </div>
        {{/each}}
      </div>

    </div>

    <div class="my-3 col d-flex flex-column align-items-center py-3 my-3">

      <h3>La distribución de tu portafolio</h3>

      <div class="py-3"><input
          id="betaPortfolioID"
          name="betaPortfolio"
          type="hidden"
          value="0"
          readonly
        /></div>

      <div class="chart2 py-3">
        <canvas id="myChart2"></canvas>
      </div>

    </div>

  </div>

  <div>

  </div>

  <div class="d-flex flex-column align-items-center closeSession">
    <button class="btn btn-primary my-5">
      <a href="/auth/logout">Cerrar Sesión</a>
    </button>
  </div>

</div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
></script>

<script src="/js/portfolioGraph.js"></script>

<script src="/js/script.js"></script>